@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@tailwind base;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 214 10% 3.9%;
    --card: 214, 33%, 98%;
    --card-foreground: 214 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 10% 3.9%;

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 221 66% 86%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 214 4.8% 95.9%;
    --muted-foreground: 214 3.8% 46.1%;
    --accent: 214 30% 95%;
    --accent-foreground: 214 32% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    /* --input: 240 5.9% 90%; */
    --ring: 214.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 40% 70%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins;
    @apply font-bold;
    @apply dark:text-white;
  }

  h6 {
    @apply text-xl;
  }

  h5 {
    @apply text-2xl;
  }

  h4 {
    @apply text-3xl;
  }

  h3 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl lg:text-5xl;
  }

  h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl;
  }

  body {
    @apply font-rubik;
  }
  .star:hover,
  .star.clicked {
    @apply text-yellow-400; /* Change this to your desired star color on hover or click */
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}
