.parallax__group {
  transform-style: preserve-3d;
}

.sky {
  background: url('./assets//img/6LUhzia.jpg') no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.parallax_title {
  transform: translateZ(-500px) scale(3);
  z-index: 2;
}
